body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/design/blueBackground.jpg");
    background-size: cover;
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'zabras', Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    border: 15px solid black;
    border-radius: 12px;
    display: block;
}

.manual img {
    height: 70px;

}

.manual {
    border: 8px solid white;
    background-color: white;
}

.startScreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    height: 500px;
    width: 700px;
    position: absolute;

    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.d-none {
    display: none;
}

.buttonClass {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 150px;
    border: 2px solid black;
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
    h1{
        display: none;
    }
    .startScreen{
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }
}